/* *{
    color:white;
} */



body{
    background-color:rgb(251, 255, 255);
    color:black;
    margin-top: 0;
    /* background-image: url(jagannath2.jpeg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    width: 100%;
    /* background-size: cover;
    background-position: 7px; */
}
header{
    display: flex;
    justify-content: space-between;
    outline: none;
    font-size: 20px;
    padding:15px;
    background-color: rgb(228, 228, 237);
    position:fixed;
    align-items: center;
    width: 100%;
}
.box{
    border:2px solid black;
    background-color: aqua;
}
input{
    border: 0;
    outline: none;
    background-color: rgb(228, 228, 237);
}
button{
    border: 0;
    
}
.nav a,.nav img{
    margin-right: 10px;
}
.logoContainer img{
    margin-right:20px ;
}
button:active{
    background-color: white;
}
.hii .templeSection{
    float:right;
    width: 250px;
    border: 2px solid black;
    background-color:aqua;
    /* height: 500px; */
}
.about{
    font-weight: bold;
    /* margin-right: 20px; */

}
.space{
    margin-bottom:6px;
    padding:4px;
    display: flex;
    justify-content: space-around;
   
}
.puri,
.chardham{
    float:right;
    border: 1px solid black;
    background-color:aqua;
    

}
section{
    padding:0px 120px;
}

.omm,
.one{
    float: right;
    border: 1px solid black;
    background-color: aqua;
}

.five{
    border: 2px solid black;
}

.three{
    background-color: yellow;
    border: 2px solid black;
}

.Vaishnavism
{
    float: right;
    border: 1px solid black;
    width:300px;
   
    
}


.sponsersContainer {
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    /* padding-left: 400px; */
    justify-content: center;
}
.inner{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner>p{
    margin-top: -20px;
}

.sponsersContainer img{
    padding:30px;
    height:50px;
    width:50px;
    /* border:1px solid black; */
}

.ten{
    margin-right: 20px;
}

.rath,
.yatra{
    float: right;
    border: 2px solid black;
    width: 300px;
    background-color:aqua
}

.jagannath{
    float:right;
    border:2px solid black;
    width:300px;
    background-color:aqua;
   
}

.top,
.history{
    float:left;
    border:2px solid black;
}





