*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.one{
    height:70px;
    background-color:black;
    display: flex;
    color: white;
    align-items: center;
    

}

.hover:hover{
    border:2px solid white;
    
}

